.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: /*rgb(71, 71, 71);*/ none;
  padding: 2em;
  color: rgb(7, 201, 0);
  display: flex;
  flex-direction: column;
}

.App-title {
  font-size: 2em;
  margin: auto;
  display: inline-block;
  text-shadow: 0px 0px 2px white, 0px 2px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.App-steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;
}

.Step {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 100%;
  max-width: 600px;
  padding: 0 0 1em 0;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, .5);
  border-left: .5em solid rgb(100, 100, 255);
  background: #fff;
  border-radius: 0px .5em .5em 0px;
}

.Step.Waiting {
  border-left: .5em solid rgb(94, 94, 94);
}

.Step.Complete {
  border-left: .5em solid rgb(7, 201, 0);
}

.Step > * {
  padding-left: .5em;
}

input {
  border: none;
  outline: none;
  margin: .5em;
  margin-right: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  box-shadow: inset 0px 0px 2px gray;
}

h2 {
  padding: .5em;
  color: rgb(65, 65, 65);
  width: 100%;
  margin: 0;
  font-size: 1.2em;
}

h2 > small {
  display: block;
  color: gray;
  font-size: .8em;
  margin-top: .5em;
  font-weight: light;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 620px) {
  .Step {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: .5em;
    width: 100%;
    max-width: 100%;
  }
}